[**radius-toolkit**](../README.md) • **Docs**

***

[radius-toolkit](../globals.md) / validationResult

# Function: validationResult()

> **validationResult**(`result`, `message`?, `offendingSegments`?): [`TokenNameValidationResult`](../type-aliases/TokenNameValidationResult.md)

## Parameters

• **result**: `boolean`

• **message?**: `string`

• **offendingSegments?**: `string`[]

## Returns

[`TokenNameValidationResult`](../type-aliases/TokenNameValidationResult.md)

## Defined in

[lib/formats/format.utils.ts:28](https://github.com/rangle/radius-token-tango/blob/0fa25351e79af51a833bcebadbd83e27a9791a4f/packages/radius-toolkit/src/lib/formats/format.utils.ts#L28)
